$mobileBreakpoint: 420px !default;
$mobileUpBreakpoint: 420px !default;

$bannerHeightAndEffect: 60vh !default;
$bannerHeightAndEffectFadeAway: -60vh !default;
$mobileDefaultLeftMargin: 20px !default;
$mobileDefaultMargin: 0 20px 0 20px;
$mobileDefaultPadding: 0 10px 0 10px !default;
$mobileDefaultSwiper: 300px !default;

$mobileBannerBackground: #f4f3ee !default;
$headBackground: #f4f3ee !default;
$headIconClickMobile: #aea784 !default;
$bannerListItemHover: #ec4e20 !default;
$skeletonOuter: #c5ccd3 !default;
$skeletonInner: #a8b3bd !default;
$mainFontColor: #060c0e !default;

$mainButtonColor: #060c0e !default;
$mainFontSwiperHeading: 24px !default;
$pdpTitlePriceFont: 20px !default;
$pdpDescFont: 24px !default;

$listStyle: none !default;

$headerIconSize: 40px !default;
