@use '../../../variables' as v;
@media only screen and (max-width: v.$mobileBreakpoint) {
  #shoppingBag {
    width: v.$headerIconSize;
    height: v.$headerIconSize;
    border-radius: 30%;
    background-position: center;
    transition: background 0.8s;
    position: relative;
  }
  #shoppingBag:hover {
    background: v.$mobileBannerBackground
      radial-gradient(circle, transparent 1%, v.$mobileBannerBackground 1%)
      center/15000%;
    cursor: pointer;
  }
  #shoppingBag:active {
    background-color: v.$headIconClickMobile;
    background-size: 100%;
    transition: background 0s;
  }
  .basketTootltip {
    position: absolute;
    top: 28%;
    left: 7%;
    border: 2px solid black;

    width: 20%;
    text-align: center;

    background-color: v.$mobileBannerBackground;
  }
}
